:root {
  --primary-color: #06b3bc;
  --text-color: #042d2f;
  --text-color-lighter: #074c50;
  --secondary-color: #F78828;
  --warn-color: #FDD219;
  --danger-color: #FA5456;
  --white: #FFFFFF;
  --off-white: #F1F2F4;
  --gray: #A1A1A1;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.body-background {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a1a1a1' fill-opacity='0.59' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.column {
  display: flex;
  flex-direction: column;
}
.content__heading-one {
  font-size: 2.5rem;
}
.content__heading-one, .content__heading-two {
  text-align: center;
}
.header__link, 
.header__logo, 
.content__article-one-main-text--underline, 
.content__article-one-sub-text--underline, 
.content__article-article-two-text--underline {
  text-decoration: none;
}

.header__link:hover, 
.header__logo:hover, 
.content__article-one-main-text--underline:hover,
.content__article-one-sub-text--underline:hover, .content__article-article-two-text--underline:hover {
  text-decoration: underline;
}
.header {
  background-color: var(--primary-color);
  padding: 48px 0;
  border-bottom: var(--secondary-color) 6px solid;
}
.header__logo, .header__link {
  font-size: 1.5rem;
  color: var(--off-white);
}

.main > .content, .header__nav{
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__logo, .header__link {
  margin-left: 24px;
}

.header__logo {
  margin-right: auto;
  text-transform: uppercase;
}

.jumbotron, .content {
  box-shadow: 4px 4px 10px var(--gray);
  background-color: var(--white);
}

.jumbotron {
  height: 300px;
  background-image: url(https://picsum.photos/1920/1000);
  background-size: cover;
  background-position: center;
  padding: 0 48px;
  margin-bottom: 96px;
}
.flex-center {
  justify-content: space-evenly;
  align-items: center;
}
.jumbotron__text {
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  text-shadow: var(--white) 0px 0px 10px, var(--white) 0px 0px 20px, var(--gray) 2px 2px 2px;
}
.btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn--secondary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.content {
  padding: 48px 96px;
}
.content__article-one-main-text, .content__article-one-sub-text, .content__article-two-main-text {
  line-height: 1.75;
  font-size: 1.5em;
  margin-bottom: 48px;
}
.content__image-one {
  float: left;
  width: 300px;
  height: auto;
  margin-right: 24px;
  margin-bottom: 6px;
}
.content__article-one-main-text--underline, .content__article-one-sub-text--underline, .content__article-article-two-text--underline {
  color: var(--danger-color);
}
.content__heading-one {
  font-size: 1.75em;
  padding: 15px 0;
}
.content__heading-two {
  font-size: 1.65em;
  padding: 7px 0;
}
.footer {
  margin-top: 96px;
  background-color: var(--gray);
}
.footer__copy {
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0;
  color: var(--off-white)
}